<div class="pt-20 bg-teal-100 min-h-screen">
  <div class="max-w-md mx-auto p-4 mb-20 rounded-lg bg-white shadow-lg">
    <div class="text-center font-bold text-2xl mb-2">
      <% if logged_in? %>
        <%= user_stats(current_user.bmr, 'dashboard.bmr', 'dashboard.kcal_per_day', 'thermometer-half') %>
        <%= user_stats(current_user.tdee, 'dashboard.tdee', 'dashboard.kcal_per_day', 'burn') %>
        <%= user_stats(current_user.target_calorie, 'dashboard.target_calorie', 'dashboard.kcal_per_day', 'bullseye') %>
        <%= user_stats(current_user.target_weight, 'dashboard.target_weight', 'dashboard.kg', 'weight-hanging') %>
        <%= user_stats(current_user.weight, 'dashboard.current_weight', 'dashboard.kg', 'weight') %>
      <% else %>
        <%= user_stats(session[:bmr], 'dashboard.bmr', 'dashboard.kcal_per_day', 'thermometer-half') %>
        <%= user_stats(session[:tdee], 'dashboard.tdee', 'dashboard.kcal_per_day', 'burn') %>
        <%= user_stats(session[:target_calorie], 'dashboard.target_calorie', 'dashboard.kcal_per_day', 'bullseye') %>
        <%= user_stats(session[:target_weight], 'dashboard.target_weight', 'dashboard.kg', 'weight-hanging') %>
        <%= user_stats(session[:weight], 'dashboard.current_weight', 'dashboard.kg', 'weight') %>
      <% end %>
      <%= line_chart @chart_data, min: 0, max: 100  %>
    </div>
  </div>
</div>
