
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <%= form_with url: save_gender_age_users_path, local: true do |f| %>
                <div class="mb-3">
                    <%= f.label :gender, "性別", class: "form-label" %>
                    <%= f.select :gender, User.genders.keys.map { |k| [k.humanize, k] }, { prompt: '選択してください' }, class: "form-select" %>
                </div>
                <div class="mb-3">
                    <%= f.label :age, "年齢", class: "form-label" %>
                    <%= f.number_field :age, placeholder: "何歳ですか？", class: "form-control" %>
                </div>
                <div class="mb-3 text-center">
                    <%= f.submit "次へ", class: "btn btn-primary" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
