<div class="bg-gray-100 min-h-screen">
  <div class="max-w-lg mx-auto p-6">
    <ul class="steps steps-primary">
      <li class="step step-primary">目標</li>
      <li class="step step-primary">プロフィール</li>
      <li class="step step-primary">体重</li>
      <li class="step">活動量</li>
      <li class="step">アレルギー</li>
    </ul>
    <h1 class="text-2xl font-bold text-gray-800 text-center mb-6">体重管理</h1>
    <%= form_with url: save_height_weight_target_weight_users_path, local: true, class: "space-y-4" do |f| %>
      <div class="bg-white rounded-lg p-6 shadow-md">
        <div class="space-y-4">
          <div>
            <%= f.label :height, "身長は?", class:"text-gray-700 text-lg" %>
            <%= f.text_field :height, placeholder: "cm", class: "w-full rounded-md border-gray-300 text-lg" %>
          </div>
          <div>
            <%= f.label :weight, "体重は?", class:"text-gray-700 text-lg" %>
            <%= f.text_field :weight, placeholder: "kg", class: "w-full rounded-md border-gray-300 text-lg" %>
          </div>
          <div>
            <%= f.label :target_weight, "目標体重は?", class:"text-gray-700 text-lg" %>
            <%= f.text_field :target_weight, placeholder: "kg", class: "w-full rounded-md border-gray-300 text-lg" %>
          </div>
        </div>
        <div class="mt-8 text-center">
          <%= f.submit "次へ", class: "bg-indigo-600 text-white py-3 px-8 rounded-full text-lg hover:bg-indigo-500" %>        
        </div>
      </div>
    <% end %>
  </div>
</div>