<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="px-24 py-10 text-left bg-white shadow-lg rounded-xl">
    <h1 class="text-2xl font-bold text-center"><%= t('users.new.title') %></h1>
    <%= form_with model: @user, local: true do |f| %>
      <div class="mt-4">
        <%= f.label :email, t('users.new.email_label'), class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, class: "block w-full px-4 py-2 mt-1 bg-white border rounded-md focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" %>
      </div>
      <div class="mt-4">
        <%= f.label :password, t('users.new.password_label'), class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, class: "block w-full px-4 py-2 mt-1 bg-white border rounded-md focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" %>
      </div>
      <div class="mt-4">
        <%= f.label :password_confirmation, t('users.new.password_confirmation_label'), class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password_confirmation, class: "block w-full px-4 py-2 mt-1 bg-white border rounded-md focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40" %>
      </div>
      <%= f.submit t('users.new.register_button'), class: "mt-4 inline-flex justify-center px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:bg-blue-700 focus:outline-none" %>
    <% end %>
    <div class="mt-6 text-center text-grey-dark">
      <%= link_to t('users.new.login_link'), login_path, class: "text-blue-600 hover:underline" %>
    </div>
  </div>
</div>