<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <span class="fs-1 fw-bold text-warning">メシのカルテ</span>
            </a>

            <div class="d-flex align-items-center">
                <form class="me-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                </form>

                <div class="text-end">
                    <% if user_signed_in? %>
                        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
                    <% else %>
                        <%= link_to 'ログイン', new_user_session_path, class: "btn btn-light" %>
                    <% end %>
                </div>

                <div class="dropdown">
                     <%= link_to '#', role: "button", id: "profileDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do %>
                        <%= image_tag 'sample', size: '40x40', class: 'rounded-circle mr15' %>
                    <% end %>
                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="#"><%= image_tag 'sample', size: '40x40', class: 'rounded-circle mr15' %> マイページ</a>
                        <%= link_to 'アカウント設定', '#', class: "dropdown-item" %>
                        <%= link_to 'ログアウト', '#', class: "dropdown-item" %>
                        <%= link_to '利用規約', '#', class: "dropdown-item" %>
                        <%= link_to 'プライバシーポリシー', '#', class: "dropdown-item" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
