<header class=" bg-blue-200 z-10">
    <div class="flex justify-between items-center p-4 h-20">
        <a href="/" class="text-gray-900 font-bold text-5xl">
            <h1 class="text-5xl font-bold font-serif text-gray-900">メシのカルテ</h1>
        </a>
        <div class="flex items-center">
            <div class="mr-20">
                <% if controller_name == "pages" && action_name == "home" %>
                <!-- ボタンを表示 -->
                    <a href="<%= body_info_users_path %>" class="btn">
                    使ってみる
                    </a>
                <% else %>
                    <!-- ボタンを非表示 -->
                    <%= content_tag :div, class: "hidden" do %>
                        <button>使ってみる</button>
                    <% end %>
                <% end %>
            </div>
            <div class="ml-5 pr-5 mt-1 pb-12 align-items-center">
                <button class="absolute right-0 mr-16 ">
                    <% if user_signed_in? %>
                        <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-light" %>
                    <% else %>
                        <%= link_to 'ログイン', new_user_session_path, class: "btn btn-light" %>
                    <% end %>
            </div>

            <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                <%= image_tag "sample.jpg" %>
                </div>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li><%= link_to "マイページ", "#", class: "block px-4 py-2 hover:bg-gray-250" %></li>
                <li><%= link_to "お気に入り", "#", class: "block px-4 py-2 hover:bg-gray-250" %></li>
                <li><%= link_to "アカウント設定", "#", class: "block px-4 py-2 hover:bg-gray-250" %></li>
                <li><%= link_to "ログアウト", "#", class: "block px-4 py-2 hover:bg-gray-250" %></li>
                <li><%= link_to "利用規約", "#", class: "block px-4 py-2 hover:bg-gray-250" %></li>
                <li><%= link_to "プライバシーポリシー", "#", class: "block px-4 py-2 hover:bg-gray-250" %></li>
            </ul>
            </div>
        </div>
    </div>
</header>
