<header class=" bg-teal-300 relative z-10">
    <div class="flex justify-between items-center p-4 h-20">
        <% if request.path == root_path %>
          <div class="w-16 h-16 rounded-full overflow-hidden">
            <%= image_tag 'logo2.jpg', alt: 'Fat Recipe Logo', class: 'w-full h-auto' %>
          </div>
        <% else %>
          <a href="/home" class="w-16 h-16 rounded-full overflow-hidden">
            <%= image_tag 'logo2.jpg', alt: 'Fat Recipe Logo', class: 'w-full h-auto' %>
          </a>
        <% end %>
        <div class="flex items-center">
            <div class="mr-4">
                <% if controller_name == "pages" && action_name == "home" %>
                    <% unless logged_in? %>
                        <!-- ボタンを表示 -->
                        <%= link_to t('defaults.try_it'), body_info_users_path, class: "btn text-white rounded-full bg-cyan-400" %>
                    <% end %>
                <% else %>
                    <!-- ボタンを非表示 -->
                    <%= content_tag :div, class: "hidden" do %>
                        <button>t('defaults.try_it')</button>
                    <% end %>
                <% end %>
            </div>
            <div class="ml-5 pr-10 pb-12 align-items-center">
                <button class="absolute right-0 ml-auto">
                    <% if logged_in? %>
                        <div class="dropdown dropdown-end">
                        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                            <div class="w-10 rounded-full">
                            <%= image_tag current_user.avatar_url%>
                            </div>
                        </label>
                        <ul tabindex="0" class="bg-white menu menu-compact dropdown-content mt-3 p-2 shadow rounded-box w-52 z-60">
                            <li><%= link_to t('defaults.my_page'), profile_path, class: "block px-4 py-2 hover:bg-gray-250" %></li>
                            <li><%= link_to t('defaults.logout'), logout_path, data: { turbo_method: :delete }, class: "block px-4 py-2 hover:bg-gray-250" %></li>
                            <li><%= link_to t('defaults.terms_of_service'), "#", class: "block px-4 py-2 hover:bg-gray-250" %></li>
                            <li><%= link_to t('defaults.privacy_policy'), "#", class: "block px-4 py-2 hover:bg-gray-250" %></li>
                        </ul>
                    <% else %>
                        <%= link_to t('defaults.login'), login_path, class: "btn text-white rounded-full bg-cyan-400" %>
                    <% end %>
                </button>
            </div>
        </div>
    </div>
</header>