<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>メシのカルテ</title>
    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application.tailwind', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
  </head>
  <body>
      <%= render 'shared/header' %>
      <%= yield %>
      <%= render 'shared/footer' %>
  </body>
</html>