<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Fat Recipe</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload", media: 'all' %>
    <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SN44PDD9TC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SN44PDD9TC');
    </script>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
  </head>
  <body>
      <%= render 'shared/header' %>
      <%= render 'shared/flash_message' %>
      <%= yield %>
      <% if controller_name == 'pages' && action_name == 'dashboard' ||
          controller_name == 'dashboard' && action_name == 'index' ||
          controller_name == 'recipes' && ['index', 'show', 'search', 'search_results'].include?(action_name) ||
          controller_name == 'recipe_suggestions' && action_name == 'index' %>
        <%= render 'shared/footer' %>
      <% end %>
  </body>
</html>
